/* Inter Google Font */
.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    color: #f4f4f4;
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Inter", serif;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    box-sizing: border-box;
}

/* White Background */
.white-container {
    font-family: "Inter", serif;
    font-style: normal;
    height: 600px;
    width: 100vw;
    background-color: #f4f4f4;
    margin-top: 20px;
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: gives it a nice inner shadow */
}

/* Header and Paragraph Text */
.text-container {
    color: #000000;
    padding-top: 50px;
    margin-bottom: 120px;
}

/* Add space in between heading & subheading */
.subheading {
    padding-top: 15px;
}

/* Project Boxes */
.box {
    color: #000000;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    border: 3px solid #000;
    background: #FFF;
    width: 310px;
    height: 170px;
}

.box-link {
    text-decoration: none;
    display: block;
}

.box-link:hover .box {
    background-color: #f0f0f0;
    border-color: #00B4D8;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Divider */
hr.solid {
    border-top: 3px solid #f4f4f4;
    width: 50%;
    margin: 0px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* NAVIGATION MENU STYLES */
footer {
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}
  
.navigation {
    display: flex;
    justify-content: space-between; /* Distribute the items evenly with equal space */
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px; /* Restrict the menu width to center it */
    width: 100%;
}
  
.navigation li {
    text-align: center;
    flex: 0 0 auto; /* Prevent the items from stretching */
    padding: 0 5px;
}
  
.navigation a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #f4f4f4;
    display: block;
    padding: 10px 20px; /* Adds some horizontal padding for clickable area */
    transition: color 0.3s ease;
}
  
.navigation a:hover {
    color: #00B4D8;
}

/* Responsive */
@media (max-width: 480px) {
    .navigation {
        justify-content: space-between;
        padding: 0 10px;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }
    
    .navigation a {
        font-size: 14px; /* Reduce font size */
        padding: 5px 0px; /* Reduce padding */
    }

    .white-container {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .white-container {
        height: 450px;
    }
    .navigation {
        justify-content: space-between;
        padding: 0 10px;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }
    
    .navigation a {
        font-size: 14px; /* Reduce font size */
        padding: 5px 0px; /* Reduce padding */
    }
}