/* Inter Google Font */
.inter-font {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    color: #f4f4f4;
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Inter", serif;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    box-sizing: border-box;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.resume {
    width: 440px;
    height: 569px;
}

.download-container {
  display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}

/* Divider */
hr.solid {
    border-top: 3px solid #f4f4f4;
    width: 50%;
    margin: 0px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* NAVIGATION MENU STYLES */
footer {
    font-family: "Inter", serif;
    font-style: normal;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between; /* Distribute the items evenly with equal space */
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 600px; /* Restrict the menu width to center it */
    width: 100%;
  }
  
  .navigation li {
    text-align: center;
    flex: 0 0 auto; /* Prevent the items from stretching */
    padding: 0 5px;
  }
  
  .navigation a {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #f4f4f4;
    display: block;
    padding: 10px 20px; /* Adds some horizontal padding for clickable area */
    transition: color 0.3s ease;
  }
  
  .navigation a:hover {
    color: #00B4D8;
  }

  @media (max-width: 480px) {
    .resume {
      width: 270px;
      height: 399px;
  }

    .navigation {
        justify-content: space-between;
        padding: 0 10px;
    }

    .navigation li {
        flex: 1;
        text-align: center;
    }
    
    .navigation a {
        font-size: 14px; /* Reduce font size */
        padding: 10px 5px; /* Reduce padding */
    }

    hr.solid {
      width: 70%;
  }
}