body {
    color: #f4f4f4;
    background-image: url('images/background.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Inter", serif;
    font-style: normal;
    height: 100vh;
    overflow-y: hidden;
    margin: 0;
    box-sizing: border-box;
}